@import url('https:////fonts.googleapis.com/css?family=Permanent+Marker');

header {
    padding-bottom: 2.1rem;
    white-space: nowrap;
    text-align: center;
}

h3 {
    color: black;
    font-family: 'Permanent Marker', serif;
    font-size: 4rem;
    margin:0;
    padding:0;
}

h6 {
    color: black;
    font-family: 'Permanent Marker', serif;
    font-size: 2rem;
    margin:0;
    padding:0;
}

p  {
    color: black;
    font-family: 'Permanent Marker', serif;
    font-size: 100%;
}

body {
    background: linear-gradient(to bottom, white, white) fixed;
}

.content {
    max-width: 500px;
    margin: auto;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    zoom: 30%;
    border-radius: 50%;
}

.orange {
        color: #ff0000;
}
.blue {
        color: #0000a0;
}

.icon{max-width:70px;}
.icon span {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: red;
    border-style:dashed;
    border-width: 1px;
}
.icon span:nth-child(3n+3) {
    background-color:blue; 
}
