body {
  background-color: #1e1e1e;
  font-family: courier, monospace;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width:900px;
  font-size:13.5px;
  color: #f6f7ee;
}

a:link {
  color: #96e00a;
}

aâ€‹:visited {
  color: #ae81ff;
}
